* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  width: 100%;
}

.container {
  height: 100%;
  width: 100%;
  background-color: rgb(150, 204, 150);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}
.panel {
  height: 80%;
  width: 80%;
  background-color: #fff;
  overflow: hidden;
  border-radius: 10px;
  flex: 1;
}
.p-top {
  color: #fff;
  padding: 0 30%;
  height: 100px;
  width: 100%;
  background-color: rgb(72, 104, 72);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.elem {
  display: flex;
  align-items: center;
  gap: 20px;
}
.box {
  background-color: #fff;
  color: rgb(18, 119, 57);
  font-weight: 900;
  font-size: 20px;
  border-radius: 5px;
  padding: 10px;
}
.p-bottom {
  width: 100%;
  height: calc(100% - 100px);
  padding: 10px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.elem h2 {
  font-size: 30px;
}
.bubble {
  height: 60px;
  width: 60px;
  background-color: rgb(72, 104, 72);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: wheat;
  font-weight: 500;
}
.bubble:hover {
  cursor: pointer;
  background-color: rgb(40, 53, 40);
}

/* .footer {
  position: relative;
  top: 50%;
  height: 100px;
  width: 100%;
  background-color: darkred;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer p {
  font-size: x-large;
} */

.footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
  background-color: rgb(72, 104, 72);
  position: relative;
  height: 50px;
  width: 100%;
}
